body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.add-task-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.add-task-form input,
.add-task-form button {
  padding: 10px;
  font-size: 16px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filters button {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.task-item.completed span {
  text-decoration: line-through;
  color: gray;
}

button {
  background-color: #f44336;
  color: rgb(4, 4, 4);
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #d32f2f;
}

.calendar-task-indicator {
  color: red;
  font-weight: bold;
}
